/*
 * Thread View Styles
 */

.thread-view {
    height: 100%;
    overflow: auto;
}

.thread-view-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thread-markdown-editor {
    flex: 1;
    min-height: 0;
}

.thread-markdown-editor .cm-editor {
    height: 100%;
}

.thread-markdown-editor .cm-scroller {
    overflow: auto;
}


.thread-markdown-editor .cm-sizer {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--file-line-width);
}